.cart-list{
    display: flex;
    margin-left: 20px;
}

.item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: 20px;
    box-shadow: 0.7px 0.5px 2.5px 2.5px rgb(225, 222, 222);
    border-radius: 10px;
    height: 75px;
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.item-heading{
    font-size: 20px;
    color:#000000;
    font-weight: 600;
    margin: 0px;
    padding-left: 10px;
    padding-top: 10px;
}

.item-quantity{
    font-size: 13px;
    color:#000000;
    font-weight: 600;
    margin: 0px;
    padding-left: 10px;
    padding-top: 10px;
}

.button1{
    color: #ffffff;
    font-weight: 500;
    background-color: red;
    border-radius: 2px;
    border: none;
    height: 25px;
    width: 25px;
    margin-right: 10px;

}

.button2{
    color: #ffffff;
    font-weight: 500;
    background-color: green;
    border-radius: 2px;
    border: none;
    height: 25px;
    width: 25px;
    margin-left: 10px;

}
